@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../Fonts/Montserrat-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../Fonts/Montserrat-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../Fonts/Montserrat-SemiBold.woff) format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../Fonts/Montserrat-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(../Fonts/Montserrat-ExtraBold.woff) format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(../Fonts/Montserrat-Black.woff) format('woff');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header,nav {
    position: fixed;
    width: 100%;
}

header {
    background-color: #2472CD;
    color:white;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    z-index: 11;
}

header h1 {
    font-size: clamp(15px,4vw,20px);
    margin: 5px 0;
}

header p {
    font-size: 14px;
}

a {
    cursor: pointer;
    color:white;
    text-decoration: none;
}

button {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    height: 30px;
}

ul {
    list-style: none;
}

nav {
    margin-top: 72px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    z-index: 10;
}

nav ul li {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    transition: background-color 0.3s;
}

nav ul li h2, nav a, nav ul li h3 {
    color: #0E4071;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

nav ul li h2:hover, nav ul li a:hover, nav ul li h3:hover, nav ul li h2:focus, nav ul li a:focus, nav ul li h3:focus {
    font-weight: bold;
}

nav ul li:hover {
    background-color: #f0f0f0;
}

nav ul li.SubMenu {
    position: relative;
}

nav ul li.SubMenu ul {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
}

nav ul li.SubMenu:hover ul,nav ul li.SubMenu:focus ul {
    display: block;
}

#Menu, nav ul .Menu-Logo {
    display: none;
}

nav .TWO {
    display: flex;
    gap: 20px;
}

nav .TWO #Numero {
    position: relative;
    top: -26px;
    right: 5px;
}

nav ul .Search {
    position: absolute;
    top: -100%;
    background-color: #ccc;
    width: 100%;
    left: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    transition: top 1s ease;
}

nav ul .Search .Options input {
    padding: 5px 0px 5px 37px;
    border: 2px solid #979797;    
}

nav ul .Search .Options input:focus {
    border-width:2px;
    border-color: #007BFF;
    outline: none;
}

nav ul .Search .Options img {
    position: absolute;
    border-right: 1px solid black;
    padding: 2px 5px;
    border-radius: 0 10px 10px 0;
    top: 12px;
}

nav ul .Search .Options button {
    background-color: #004dff;
    color: white;
    font-weight: 800;
    font-size: 16px;
    height: 33px;
    border-radius: 0 0 10px 0;
    padding: 0 4px;
    position: relative;
    right: 5px;
    top: 1px;
}

nav ul .Search:hover, nav ul .Menu-Logo:hover,nav ul .Menu-Logo h2:hover {
    background-color: #ccc;
    font-weight: 500;
}

main {
    padding-top: 267px;
}

main .Container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    margin: 20px 0;
    text-align: center;
}

main p {
    font-size: 1.1em;
    color: #555;
    line-height: 1.6;
}

hr {
    width: 94%;
    margin: 20px auto;
    border: 0;
    height: 1px;
    background-color: #ccc;
}

article {
    width: 250px;
    height: 250px;
    position: relative;
    z-index: 5;
}

article img {
    border-radius: 10px;
    object-fit: cover;
}

.Cateogria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

article h3 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    font-size: 28px;
}

article.Nicho:hover {
    transform: scale(0.9);
}

@media (max-width:650px){
    nav ul {
        position: absolute;
        right: -100%;
        top: 31px;
        width: 300px;
        background-color: #ccc;
        z-index: 1;
        transition: right 1s ease;
    }

    nav ul li {
        display: block;
    }

    nav ul li.SubMenu ul,nav ul .Search {
        position: relative;
        width: 100%;
        top: 0;
    }

    nav ul .Menu-Logo,#Menu {
        display: flex;
        align-items: center;
    }

    nav ul .Menu-Logo h2 {
        color:black;
        margin-right: 156px;
    }

    #Lupa,#Close-1 {
        display: none;
    }
}